#background {
	background-color: #0098FF;
	height: 500px;
	width: 700px;
	position: relative;
	overflow: hidden;
}

#bttStart {
	position: absolute;
	color: grey;
	text-align: center;
	border-radius: 20px;
	color: black;
	background-color: yellow;
	width: 80px;
	height: 50px;
	font-size: 100%;
	z-index: 3;

}

#playerCar {
	position: absolute;
	height: 80px;
	width: 40px;
	bottom: 60px;
	left: 250px;
	border-radius: 5px;
	background-image: url('../car4.jpg');
	background-size: cover;
	z-index: 11;
}

.obstacles {
	position: absolute;
	height: 80px;
	width: 40px;
	top: 0px;
	left: 250px;
	border-radius: 5px;
	background-image: url('../car3.png');
	background-size: cover;
	z-index: 12;
}

#tree1 {
	position: absolute;
	height: 80px;
	width: 90px;
	top: 0px;
	left: 50px;
	background-image: url('../tree.png');
	background-size: cover;
	z-index: 11;
}

#tree3 {
	position: absolute;
	height: 80px;
	width: 90px;
	top: 135px;
	left: 50px;
	background-image: url('../tree.png');
	background-size: cover;
	z-index: 11;
}

#tree5 {
	position: absolute;
	height: 80px;
	width: 90px;
	top: 270px;
	left: 50px;
	background-image: url('../tree.png');
	background-size: cover;
	z-index: 11;
}

#tree2 {
	position: absolute;
	height: 80px;
	width: 90px;
	top: 0px;
	left: 450px;
	background-image: url('../tree.png');
	background-size: cover;
	z-index: 11;
}

#tree4 {
	position: absolute;
	height: 80px;
	width: 90px;
	top: 135px;
	left: 450px;
	background-image: url('../tree.png');
	background-size: cover;
	z-index: 11;
}

#tree6 {
	position: absolute;
	height: 80px;
	width: 90px;
	top: 270px;
	left: 450px;
	background-image: url('../tree.png');
	background-size: cover;
	z-index: 11;
}

.road {
	position: relative;
	height: 50px;
	width: 300px;
	bottom: 0;
	left: 150px;
	background-color: #FFFEA2;
	z-index: 10;
}

/*.road:before{
    content: "|";
    vertical-align: top;
    color:white;
    width:5px;
    height:10px;
    line-height: 30px;
    left:50%;
    position: absolute;
}*/
